# Feature flags
NEXT_PUBLIC_FEATURE_AA=true
NEXT_PUBLIC_FEATURE_ORBY=true

# Pimlico / ERC-4337
NEXT_PUBLIC_PIMLICO_BUNDLER_URL=
NEXT_PUBLIC_PIMLICO_PAYMASTER_URL=
NEXT_PUBLIC_PIMLICO_API_KEY=

# Orby (RNG / Automation)
NEXT_PUBLIC_ORBY_API_URL=
NEXT_PUBLIC_ORBY_API_KEY=
